@model IEnumerable<ReadBookDTO>

@{
	ViewBag.Title = "List Books";
}

<a asp-area="Admin" asp-controller="Book" asp-action="Create">Create a new book</a>


<table>
	<thead>
		<tr>
			<th>Image</th>
			<th>Title</th>
			<th>Author</th>
			<th>Price</th>
			<th>Edit or remove</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var book in Model)
		{
			<tr>
				<td><img src="/images/books/@book.ImageUrl" /></td>
				<td>@book.Title</td>
				<td>@book.Author</td>
				<td>@book.Price</td>
				<td>
					<a asp-area="Admin" asp-controller="Book" asp-action="Update" asp-route-id="@book.Id">Edit</a>
					<a asp-area="Admin" asp-controller="Book" asp-action="Delete" asp-route-id="@book.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>